.loginBackground {
  margin: 0;
  height: 100vh;
  background-image:linear-gradient(to bottom, #f0f0f0, #7fb0df);
}
h5 {
  margin-top: 0px;
  font-size: 20px;
  text-align: center;          /* ensures text itself is centered */
  padding-bottom: 0px;
}
h2 {
  margin-top: 0px;
  font-size: 80px;
  text-align: center;          /* ensures text itself is centered */
  padding-bottom: 0px;
}

.formLogin {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: 20px auto;
}

.formLogin input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}