.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef2f7;
  background-image: linear-gradient(to bottom, #f0f0f0, #7fb0df);
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-image: linear-gradient(to bottom, #f0f0f0, #7fb0df);
}

.card input, .card select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.card button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
}